* {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

html,
body,
main {
  height: 100%;
}

body {
  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #1a2b75;
  overflow-x: hidden;
}

.card {
  font-family: "Poppins", sans-serif;
  margin: 1vh 60vh 0 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 50px;

  border: 1px solid rgba(192, 192, 192, 0.3);
  border-radius: 20px;
  background-color: rgba(192, 192, 192, 0.3);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  -webkit-box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
  box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.25);
}

.card-footer-1 {
  font-family: "Poppins", sans-serif;
  font-size: 0.65em;
  color: #446;
  margin: 0 0 0 103px;
}

.card-footer-2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.65em;
  color: #446;
  margin: 0 0 0 97px;
}

.subheading {
  display: flex;
  justify-content: center;
  padding: 4vh 0 0 0;
  font-weight: 700;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

.loginarea {
  display: flex;
  justify-content: center;
}

input[type="text"],
select {
  width: 25vw;
  margin-top: 50px;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 23px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

input[type="password"],
select {
  width: 25vw;
  margin: 20px 0 0 0;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 23px;
  display: flex;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn {
  width: 12vw;
  margin: 40px 0 30px 82px;
  background-color: #1a2b75;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  border-radius: 23px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #144964;
}

#error {
  padding: 0 0 20px 173px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 600px) {
  .subheading {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
  }

  .container {
    margin: 20vh 3vh 0 3vh;
  }

  input[type="text"],
  select {
    width: 65vw;
    margin-top: 50px;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 23px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  input[type="password"],
  select {
    width: 65vw;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 23px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .btn {
    width: 30vw;
    margin: 40px 0 60px 63px;
    background-color: #1a2b75;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .card-footer-1 {
    font-family: "Poppins", sans-serif;
    font-size: 0.65em;
    color: #446;
    margin: 0 0 0 62px;
  }

  .card-footer-2 {
    font-family: "Poppins", sans-serif;
    font-size: 0.65em;
    color: #446;
    margin: 0 0 0 58px;
  }

  #error {
    padding: 0 0 20px 63px;
  }
}
